---
- name: Set permanent hostname
  ansible.builtin.hostname:
    name: "{{ system_hostname }}"
- name: Ensure automation user exists
  ansible.builtin.user:
    name: svc-ansible
    comment: "Automation User"
    shell: /bin/bash
    state: present
    create_home: true
    groups: sudo
    append: true
- name: Ensure automation user has passwordless sudo
  ansible.builtin.copy:
    dest: /etc/sudoers.d/svc-ansible
    content: |
      svc-ansible ALL=(ALL) NOPASSWD: ALL
    owner: root
    group: root
    mode: "0440"
    validate: "/usr/sbin/visudo -cf %s"
- name: Ensure SSH authorized keys for automation user
  ansible.posix.authorized_key:
    user: svc-ansible
    state: present
    key: "{{ lookup('file', 'files/ssh_keys/id_svc-ansible.pub') }}"
    exclusive: true
